[package]
name = "my-subgraph"  # TODO: Rename This
version = "0.1.0"
edition = "2021"
rust-version = "1.63.0"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-graphql = "5.0.3"
async-graphql-axum = "5.0.3"
async-trait = "0.1.59"
axum = { version = "0.6.1", default-features = false, features = ["headers"] }
http = "0.2.8"
hyper = "0.14"
tokio = { version = "1.23.0", features = ["macros", "rt-multi-thread"] }
tower-http = { version = "0.3.5", features = ["compression-br", "compression-gzip", "cors"] }

[dev-dependencies]
tower = { version = "0.4", features = ["util"] }
serde_json = "1.0.89"
